<div class="container">
  <div class="my-bookings">
    <h4>All your bookings</h4>
  </div>
    <% @bookings.each do |booking| %>
      <div class="booking-details">
        <p>Booking id: <%= booking.id %></p>
        <p>Machine booked: <%= link_to booking.machine.name, machine_path(booking) %></p>
        <p>Start of booking: <%= booking.start_date %></p>
        <p>End of booking: <%= booking.end_date %></p>
        <p>Status of booking <span class="badge bg-secondary"><%= booking.status %></span></p>
      </div>
    <% end %>
  </div>
</div>
