<div class="container">
  <div class="my-bookings">
    <h4>All your bookings</h4>
  </div>
    <% @bookings.each do |booking| %>
      <div class="booking-details">
        <li>Booking id: <%= booking.id %></li>
        <li>Machine booked: <%= link_to booking.machine.name, machine_path(booking) %></li>
        <li>Start of booking: <%= booking.start_date %></li>
        <li>End of booking: <%= booking.end_date %></li>
        <li>Status of booking: <%= booking.status %></li>
      </div>
    <% end %>
  </div>
</div>
