<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-6">
      <!-- Card 1 -->
      <div class="card">
        <%= image_tag "CB58B01C-9367-487C-BCA6-0BCBFADCD61B_4_5005_c.png" %>
        <div class="card-body">
          <h4 class="card-title">The 3 in 1</h4>
          <small class="text-muted cat">
            <i class="fas fa-users text-info"></i> 8 people
          </small>
          <p class="card-text">To create delicious melted cheese works of art right at your home but also to make grills and pancakes.</p>
          <a href="#" class="btn btn-info">Details</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Jan 23, 8:45PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 1047
            <i class="far fa-comment"></i> 12
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-6">
      <!-- Card 2 -->
      <div class="card">
        <%= image_tag "B8DE9E14-5EA7-4611-B082-324DBB0B36E4_4_5005_c.png" %>
        <div class="card-body">
          <h4 class="card-title">The festive one</h4>
          <small class="text-muted cat">
            <i class="fas fa-users text-info"></i> 10 people
          </small>
          <p class="card-text">Experience the raclette feast with this machine featuring a cooking stone and more all in a sleek black design.</p>
          <a href="#" class="btn btn-info">Details</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Sep 22, 12:45PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 966
            <i class="far fa-comment"></i> 9
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-6">
      <!-- Card 3 -->
      <div class="card">
        <%= image_tag "2B0D2044-BA63-4BB5-A33A-63E1BB39DC3C_4_5005_c.png" %>
        <div class="card-body">
          <h4 class="card-title">The duo candle light</h4>
          <small class="text-muted cat">
            <i class="fas fa-users text-info"></i> 2 people
          </small>
          <p class="card-text">I love quick, simple pasta dishes, and this is one of my favorite.</p>
          <a href="#" class="btn btn-info">Details</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Dec 22, 12:10PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 720
            <i class="far fa-comment"></i> 4
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-6">
      <!-- Card 4 -->
      <div class="card">
        <%= image_tag "cheesegrill-8600-wood-allstone_1.png-md.png" %>
        <div class="card-body">
          <h4 class="card-title">The Cheese&Grill</h4>
          <small class="text-muted cat">
            <i class="fas fa-users text-info"></i> 8 people
          </small>
          <p class="card-text">Enjoy delicious raclette cheese with this machine featuring a natural stone surface and removable design for a convenient and enjoyable raclette experience..</p>
          <a href="#" class="btn btn-info">Details</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Nov 22, 11:01PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 1202
            <i class="far fa-comment"></i> 6
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-6">
      <!-- Card 5 -->
      <div class="card">
        <%= image_tag "shopping.png" %>
        <div class="card-body">
          <h4 class="card-title">The ultimate</h4>
          <small class="text-muted cat">
            <i class="fas fa-users text-info"></i> 4 people
          </small>
          <p class="card-text">Enjoy delicious raclettes or grills in a small gathering with this appliance equipped with 4 non-stick pans.</p>
          <a href="#" class="btn btn-info">Details</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Fev 23, 11:40PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 1410
            <i class="far fa-comment"></i> 16
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
