<div class="container-fou">
  <h4>Our Raclette Machines</h4>
  <div class="raclette-cards">
    <% @machines.each do |machine| %>
      <%= link_to machine_path(machine) do%>
        <div class="card-product">
            <% if machine.photo.attached? %>
          <%= cl_image_tag machine.photo.key, height: 100, width: 100 %>
              <% end %>
          <div class="card-product-infos position-relative">
            <h2><%= machine.name %></h2>
            <div>
              <p class="description-content"><%= machine.description %></p>
            </div>
            <div class="position-absolute" style="bottom: 5px; right: 5px;">
              <p class="fs-4"><%= machine.price %> € </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%# <br>
  <%= link_to "Add a Raclette", new_machine_path, class: "btn btn-primary"%>
  </div>
</div>
