<div class="container-fou">
<div class="title-index">
  <h4>Browse All our great Raclette Machines:</h4>
  <%= form_with url: search_machines_path, method: :get, class: "search-form-control form-group d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search by name, brand or description"
  %>
  <%= submit_tag "Search", class: "nav-link custom-button text-center" %>
<% end %>
</div>

  <div class="raclette-cards">
    <% @machines.each do |machine| %>
      <%= link_to machine_path(machine) do %>
        <div class="card-product">
            <% if machine.photo.attached? %>
          <%= cl_image_tag machine.photo.key, height: 100, width: 100 %>
              <% end %>
          <div class="card-product-infos position-relative">
            <h2><%= machine.name %></h2>
            <div style="margin-right:7%">
              <p class="description-content"><%= machine.description %></p>
            </div>
            <div class="position-absolute rounded-circle" style="bottom: 5px; right: 5px;">
              <p class="fs-6"><%= machine.price %>€/day</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to "Rent your Machine", new_machine_path, class: "custom-button add-machine-btn" %>
</div>
