<h4>Our Raclette Machines</h4>
<div class="raclette-cards">
  <% @machines.each do |machine| %>
    <div class="card-product">
      <%= cl_image_tag machine.photo.key, height: 100, width: 100, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= machine.name %></h2>
        <p><%= machine.description %></p>
        <%= link_to "details", machine_path(machine)%>
      </div>
    </div>
  <% end %>
  <%# <br>
<%= link_to "Add a Raclette", new_machine_path, class: "btn btn-primary"%>
</div>
