<div class="container-small">
  <div class="row">
    <div class="col-12">
      <div class="bg-white rounded p-3 shadow">
        <h5><strong>Add your Raclette machine to start renting it!</strong></h5>
        <br>
        <%= simple_form_for @machine do |f| %>
          <%= f.input :name, label: "Name of Your machine" %>
          <%= f.input :description, label: "Describe your machine" %>
          <div class="d-flex w-100 justify-content-between" >
            <%= f.input :function, collection: ["Raclette and grill", "Raclette, cheesy potatoes, fondue, tartiflette, hot box, and cheese crepe", "Raclette, grill stone, crepe maker", "Raclette and grill stone", "Raclette, grill, and plancha"], wrapper_html: {class:"w-100 me-2"} %>
            <%= f.input :brand, collection: ["Tefal", "Livoo", "Lagrange", "KLARSTEIN", "H.koenig", "Kitchen Chef", "Nedis", "Tristar", "Louis Tellier", "Princess", "Naturamix", "Proline", "Jantex", "Other"], label: "The brand of your machine", wrapper_html: {class:"w-100"} %>
          </div>
          <div class="d-flex w-100 justify-content-between" >
            <%= f.input :capacity, label: "For how many people ?", wrapper_html: {class:"w-100 me-2"}%>
            <%= f.input :power, label: "Power (in Watt)", wrapper_html: {class:"w-100 me-2"} %>
            <%= f.input :price, label: "Price per day (in €)", wrapper_html: {class:"w-100 "} %>
          </div>
          <div class="d-flex w-100">
            <%= f.input :photo, as: :file %>
          </div>
          <%= f.submit "Submit", class: 'custom-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
