<div class="container-large">
  <div class="row">
    <div class="col-lg-8">
      <h4><%= @machine.name %></h4>
      <div class="machine-bloc-infos">
        <div class="photo-bloc">
          <% if @machine.photo.attached? %>
            <%= cl_image_tag @machine.photo.key, height: 400, width: 500, crop: :fill %>
          <% end %>
        </div>
        <div class="description-bloc">
      <h5><strong>Description</strong></h5>
          <%= @machine.description %>
          <br>
          <br>
          <br>
          <p><strong>Features</strong></p>
            <ul><li>
                  <span>Functions:</span>
                  <span><%= @machine.function %></span>
                </li>
                <li>
                  <span>Suitable for:</span>
                  <span><%= @machine.capacity %> people</span>
                </li>
                <li>
                  <span>Power:</span>
                  <span><%= @machine.power %>W</span>
                </li>
                <li>
                  <span>Rent price per day:</span>
                  <span><%= @machine.price %>€</span>
                </li>
              </ul>
        </div>
      </div>
        <div class="back-button">
          <%= link_to "See other available Machines", machines_path, class: "custom-button add-machine-btn"%>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="booking_bloc_infos white-block">
        <h5><strong>Book Now!</strong></h5>
        <br>
        <%= simple_form_for ([@machine, @booking]) do |f| %>
          <%= f.input :start_date,
                      as: :string,
                      label: "Pick when you want to start melting cheese",
                      input_html: { class: "form-input", data: { controller: "datepicker" } },
                      required: true %>
          <%= f.input :end_date,
                      as: :string,
                      label: "Pick when you had enough (if applicable)",
                      input_html: { class: "form-input", data: { controller: "datepicker" } },
                      required: true %>
          <%= f.button :submit, "Yummy!", class: "custom-button add-machine-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
