<h1><%= @machine.name %></h1>
<p><%= @machine.capacity %></p>
<p><%= @machine.power %></p>
<p><%= @machine.function %></p>
<p><%= @machine.price %></p>
<%= link_to "Liste des machines", machines_path, class: "btn btn-primary"%>
